@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.title-font {
  font-family: 'Orbitron', sans-serif;
}
/* Animation for the Home button */
.home-button {
  transition: transform 0.3s ease-in-out,color 0.3s ease-in-out;
}

.home-button:hover {
  transform: translateY(-2px) ;
  color: yellow;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}